
# /
/.idea
*.iml
**/*.iml
TransportsRennes/gen
**/.idea
**/.checkstyle
**/.pmd
**/.fbprefs
**/.settings/*findbugs*
**/bin
target

/TransportsBordeaux/gen/
/TransportsRennesServer/war/WEB-INF/classes/

**/.DS_Store
.DS_Store
TransportsRennes.ipr
TransportsRennes.iws

out
**/*.apk

.gradle
build
*.apk
