<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fr.ybo.transportsbordeaux" android:installLocation="auto"
          android:versionCode="297" android:versionName="2.9.7">


    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="11"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name"
                 android:name=".application.TransportsBordeauxApplication"
                 android:theme="@style/Theme.Transports"
                 android:allowBackup="false"
                 android:debuggable="false">
        <activity android:name=".activity.TransportsBordeaux"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.loading.LoadingActivity" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activity.bus.ListeBus" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activity.bus.ListArret" android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <!-- This action is only to allow an entry point for launcher shortcuts -->
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.bus.ListArretByPosition" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activity.bus.DetailArret" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activity.bus.ListFavorisForNoGroup" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activity.bus.TabFavoris" android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <!-- This action is only to allow an entry point for launcher shortcuts -->
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.velos.ListStationsByPosition"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <!-- This action is only to allow an entry point for launcher shortcuts -->
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.velos.ListStationsFavoris"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <!-- This action is only to allow an entry point for launcher shortcuts -->
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.alerts.TabAlertes" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activity.alerts.ListAlertsForOneLine" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activity.bus.DetailTrajet" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activity.itineraires.ItineraireRequete"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/btn_itineraires"
                  android:theme="@android:style/Theme"/>
        <activity android:name=".activity.itineraires.Itineraires" android:configChanges="orientation|keyboardHidden"
                  android:label="@string/btn_itineraires"
                  android:theme="@android:style/Theme"/>
        <activity android:name=".activity.preferences.PreferencesBordeaux"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activity.parkrelais.ListParkings" android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <!-- This action is only to allow an entry point for launcher shortcuts -->
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.bus.ListNotif" android:configChanges="orientation|keyboardHidden"/>


        <activity
                android:name=".activity.bus.BusShortcutPicker"
                android:label="@string/lineShortcut"
                >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activity.bus.BusFavorisShortcutPicker"
                android:label="@string/btn_bus_favori"
                >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activity.velos.StationsShortcutPicker"
                android:label="@string/btn_velo"
                >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activity.velos.StationsFavorisShortcutPicker"
                android:label="@string/btn_velo_favori"
                >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activity.parkrelais.ParkRelaisShortcutPicker"
                android:label="@string/btn_parking"
                >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
                android:name=".services.UpdateTimeService"
                android:label="TransportsBordeauxUpdateTimeService"
                android:exported="false">

            <intent-filter>
                <action android:name="fr.ybo.transportsbordeaux.action.UPDATE"/>
            </intent-filter>
        </service>

        <receiver android:name=".services.UpdateTimeServiceReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".util.AlarmReceiver"
            android:label="TransportsBordeauxAlarmReceiver"
            android:process=":remote" />

        <receiver android:name=".activity.widgets.TransportsWidget11" android:label="@string/widget11_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/transportswidget11"/>
        </receiver>
        <activity android:name=".activity.widgets.TransportsWidget11Configure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <receiver android:name=".activity.widgets.TransportsWidget21" android:label="@string/widget21_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/transportswidget21"/>
        </receiver>
        <activity android:name=".activity.widgets.TransportsWidget21Configure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity android:name="com.google.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>

</manifest>
