<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fr.ybo.transportsrennes"
          android:installLocation="auto"
          android:versionCode="11"
          android:versionName="1.1.2">
    <application android:icon="@drawable/icon" android:label="@string/app_name"
                 android:debuggable="false" android:name="TransportsRennesApplication"
                 android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".TransportsRennes" android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BusRennes" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ListAlerts" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".DetailAlert" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ListArret" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".DetailArret" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ListFavoris" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ListStationsByPosition" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ListStationsFavoris" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ListArretByPosition" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ListParkRelais" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ListPointsDeVente" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".TabAlertes" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ListTwitter" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ArretsOnMap" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".StationsOnMap" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ParkRelaisOnMap" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".PointsDeVentesOnMap" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".DetailTrajet" android:configChanges="orientation|keyboardHidden"/>
        <receiver android:name=".TransportsWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/transportswidget"/>
        </receiver>
        <activity android:name=".TransportsWidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <uses-library android:name="com.google.android.maps"/>

        <!-- The application's publisher ID assigned by AdMob -->
        <meta-data android:value="a14d20c4e95f641" android:name="ADMOB_PUBLISHER_ID"/>

        <!-- AdMobActivity definition -->
        <activity android:name="com.admob.android.ads.AdMobActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="orientation|keyboard|keyboardHidden"/>
        <!-- Track Market installs -->
        <receiver android:name="com.admob.android.ads.analytics.InstallReceiver"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <meta-data android:value="false" android:name="ADMOB_ALLOW_LOCATION_FOR_ADS"/>
    </application>

    <uses-sdk android:minSdkVersion="3"
              android:targetSdkVersion="8"
              android:maxSdkVersion="9"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
</manifest>
