<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fr.ybo.transportsrennes"
          android:installLocation="auto"
          android:versionCode="2"
          android:versionName="1.0.1">
    <application android:icon="@drawable/icon" android:label="@string/app_name"
                 android:debuggable="false" android:name="TransportsRennesApplication"
                 android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".TransportsRennes" android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BusRennes" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ListAlerts" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".DetailAlert" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ListArret" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".DetailArret" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ListFavoris" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ListStationsByPosition" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ListStationsFavoris" android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ListArretByPosition" android:configChanges="orientation|keyboardHidden"/>

        <!-- The application's publisher ID assigned by AdMob -->
        <meta-data android:value="a14d20c4e95f641" android:name="ADMOB_PUBLISHER_ID"/>

        <!-- AdMobActivity definition -->
        <activity android:name="com.admob.android.ads.AdMobActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="orientation|keyboard|keyboardHidden"/>
        <!-- Track Market installs -->
        <receiver android:name="com.admob.android.ads.analytics.InstallReceiver"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <meta-data android:value="false" android:name="ADMOB_ALLOW_LOCATION_FOR_ADS"/>
    </application>

    <uses-sdk android:minSdkVersion="3"
              android:targetSdkVersion="8"
              android:maxSdkVersion="9"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
